html,
body {
  margin: 0;
}
#status {
  position: fixed;
  inset: 0;
  padding: var(--padding-6);
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-container {
  width: 90vw;
  margin: 5vh auto;
  background: rgba(23, 19, 16, 0.6);
  border: 1px solid rgba(249, 248, 239, 0.2);
  border-radius: clamp(20px, 2vw, 25px);
  padding: clamp(16px, 1.5vw, 20px);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
  box-sizing: border-box;
}

.status-container h1 {
  margin: 0 0 clamp(var(--padding-4), 1.5vw, 24px);
  color: var(--text-color-secondary);
  font-size: clamp(48px, 4vw, 72px);
}

.status-table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.status-table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
}

.status-table thead th {
  text-align: left;
  padding: clamp(var(--padding-2), 1vw, 16px)
    clamp(var(--padding-3), 1.5vw, 20px);
  color: var(--text-color-secondary);
  font-size: clamp(20px, 2.5vw, 32px);
}

.status-table tbody tr td {
  padding: clamp(var(--padding-2), 1vw, 16px)
    clamp(var(--padding-3), 1.5vw, 20px);
  border-top: 1px solid rgba(249, 248, 239, 0.2);
}

.loader-icon {
  width: clamp(20px, 5vw, 40px);
  height: clamp(20px, 5vw, 40px);
  object-fit: contain;
  margin-right: 8px;
  vertical-align: middle;
}

.header-icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: clamp(var(--gap-1), 0.4vw, 6px);
  fill: var(--text-color-secondary);
}

.status-pill {
  display: inline-flex;
  align-items: center;
  gap: clamp(var(--gap-1), 0.4vw, 6px);
  font-size: clamp(1rem, 1.2vw, 1.4rem);
  font-weight: 500;
  border-radius: clamp(10px, 10vw, 100px);
  padding: clamp(6px, 0.6vw, 14px) clamp(6px, 1vw, 14px);

  & svg {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    margin-right: 0.25em;
    fill: currentColor;
  }
}
@media (min-width: 1800px) {
  .status-container h1 {
    font-size: 5vw;
  }
  .status-table thead th {
    font-size: 2vw;
  }
  .status-table tbody td {
    font-size: 1.3vw;
  }
  .status-pill {
    font-size: 1.2vw;
    padding: 1vw 2vw;
  }
}
.status-up-to-date {
  background: #34c75933;
  color: #34c759;
}
.status-in-maintenance {
  background: #ffcc0033;
  color: #ffcc00;
}
.status-soon {
  background: #7f7f7f33;
  color: #7f7f7f;
}

@media (max-width: 600px) {
  .status-container {
    width: 98vw;
    margin: 2vw auto;
    padding: clamp(12px, 2vw, 16px);
  }
  .status-container h1 {
    font-size: clamp(36px, 5vw, 48px);
  }
  .status-table thead th,
  .status-table tbody td {
    font-size: clamp(12px, 2vw, 14px);
    padding: clamp(6px, 1.5vw, 12px);
  }
  .status-pill {
    font-size: clamp(0.7rem, 1.5vw, 0.9rem);
    padding: clamp(2px, 0.5vw, 6px);
  }
  .header-icon {
    width: 1em;
    height: 1em;
  }
}
