.resources {
  max-width: 1200px;
  margin: 0 auto;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--title), sans-serif;
  font-size: var(--title-font-size);
  color: var(--text-color-secondary);
  margin-bottom: 32px;
  text-align: left;
}

.cards {
  display: flex;
  gap: 32px;
  flex: 1;
  width: 100%;
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left > .card,
.right > .card {
  flex: 1;
  width: 100%;
}

.right {
  justify-content: space-between;
  gap: 36px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-inline: 32px;
}

.card {
  background-color: var(--dark-color);
  border: 1px solid var(--text-color-secondary);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.cardTitle {
  margin: 0 0 12px 0;
  font-family: var(--subtitle1), sans-serif;
  font-size: var(--subtitle1-font-size);
  color: var(--text-color-secondary);
}

.cardDescription {
  margin: 0 0 24px 0;
  font-family: var(--body), sans-serif;
  font-size: var(--body-font-size);
  color: var(--text-color);
  flex: 1;
}

.cardLink {
  font-family: var(--body), sans-serif;
  font-size: var(--link-font-size);
  text-decoration: underline;
  color: var(--text-color-secondary);
  align-self: flex-start;
}

.footerLink {
  font-family: 'Kode mono', monospace;
  font-size: var(--link-font-size);
  font-weight: 700;
  text-decoration: underline;
  color: var(--text-color);
}

@media (max-width: 1024px) {
  .resources {
    height: auto;
  }
  .cards {
    flex-direction: column;
    height: auto;
  }
  .left,
  .right {
    width: 100%;
    flex: none;
  }
  .left > .card,
  .right > .card {
    height: auto;
    flex: none;
  }
  .right {
    justify-content: flex-start;
    gap: 32px;
  }
  .links {
    padding-inline: 24px;
  }
}

@media (max-width: 600px) {
  .resources {
    padding-inline: 16px;
  }
  .title {
    font-size: calc(var(--title-font-size) * 0.8);
    margin-bottom: 24px;
  }
  .cards {
    gap: 24px;
  }
  .card {
    padding: 24px;
  }
  .links {
    padding-inline: 16px;
  }
}
