@tailwind base;
@tailwind components;
@tailwind utilities;

/* Outfit Font Stylesheet */
@font-face {
  font-family: 'Outfit ExtraLight';
  src: url('./assets/fonts/Outfit-ExtraLight.otf') format('opentype');
}
@font-face {
  font-family: 'Outfit Thin';
  src: url('./assets/fonts/Outfit-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'Outfit Light';
  src: url('./assets/fonts/Outfit-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Outfit Medium';
  src: url('./assets/fonts/Outfit-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Outfit Regular';
  src: url('./assets/fonts/Outfit-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Outfit SemiBold';
  src: url('./assets/fonts/Outfit-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'Outfit Bold';
  src: url('./assets/fonts/Outfit-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Outfit ExtraBold';
  src: url('./assets/fonts/Outfit-ExtraBold.otf') format('opentype');
}
@font-face {
  font-family: 'Outfit Black';
  src: url('./assets/fonts/Outfit-Black.otf') format('opentype');
}

:root {
  /* Outfit Font Weight Variables */
  --outfit-extra-light: 'Outfit ExtraLight';
  --outfit-thin: 'Outfit Thin';
  --outfit-light: 'Outfit Light';
  --outfit-medium: 'Outfit Medium';
  --outfit-regular: 'Outfit Regular';
  --outfit-semi-bold: 'Outfit SemiBold';
  --outfit-bold: 'Outfit Bold';
  --outfit-extra-bold: 'Outfit ExtraBold';
  --outfit-black: 'Outfit Black';

  /* Text Style Variables */
  --title: var(--outfit-extra-light);
  --subtitle1: var(--outfit-semi-bold);
  --subtitle2: var(--outfit-light);
  --subtitle3: var(--outfit-medium);
  --emphasis: var(--outfit-medium);
  --body: var(--outfit-regular);
  --label: var(--outfit-bold);
  --caps: var(--outfit-semi-bold);
  --caption: var(--outfit-light);

  /* Color Variables */
  --primary-color: #925bff;
  --text-color: #f9f8ef;

  /* Effect Variables */
  --text-inner-shadow: inset 0px 2px 4px #fff;
}

body {
  margin: 0;
  font-family: var(--outfit-regular), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: #000;
}
